<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT uBlogsyBaseDocType ANY>
<!ATTLIST uBlogsyBaseDocType id ID #REQUIRED>
<!ELEMENT uBlogsyBaseContainer ANY>
<!ATTLIST uBlogsyBaseContainer id ID #REQUIRED>
<!ELEMENT uBlogsyBasePage ANY>
<!ATTLIST uBlogsyBasePage id ID #REQUIRED>
<!ELEMENT uBlogsyAuthor ANY>
<!ATTLIST uBlogsyAuthor id ID #REQUIRED>
<!ELEMENT uBlogsyLabel ANY>
<!ATTLIST uBlogsyLabel id ID #REQUIRED>
<!ELEMENT uBlogsyContainerAuthor ANY>
<!ATTLIST uBlogsyContainerAuthor id ID #REQUIRED>
<!ELEMENT uBlogsyContainerLabel ANY>
<!ATTLIST uBlogsyContainerLabel id ID #REQUIRED>
<!ELEMENT uBlogsyLanding ANY>
<!ATTLIST uBlogsyLanding id ID #REQUIRED>
<!ELEMENT uBlogsyPage ANY>
<!ATTLIST uBlogsyPage id ID #REQUIRED>
<!ELEMENT uBlogsyPost ANY>
<!ATTLIST uBlogsyPost id ID #REQUIRED>
<!ELEMENT uBlogsyRSS ANY>
<!ATTLIST uBlogsyRSS id ID #REQUIRED>
<!ELEMENT uBlogsySiteRoot ANY>
<!ATTLIST uBlogsySiteRoot id ID #REQUIRED>
<!ELEMENT uDateFoldersyBase ANY>
<!ATTLIST uDateFoldersyBase id ID #REQUIRED>
<!ELEMENT uDateFoldersyFolderDay ANY>
<!ATTLIST uDateFoldersyFolderDay id ID #REQUIRED>
<!ELEMENT uDateFoldersyFolderMonth ANY>
<!ATTLIST uDateFoldersyFolderMonth id ID #REQUIRED>
<!ELEMENT uDateFoldersyFolderYear ANY>
<!ATTLIST uDateFoldersyFolderYear id ID #REQUIRED>
<!ELEMENT uTagsyBaseDocType ANY>
<!ATTLIST uTagsyBaseDocType id ID #REQUIRED>
<!ELEMENT uTagsyTag ANY>
<!ATTLIST uTagsyTag id ID #REQUIRED>
<!ELEMENT uTagsyTagContainer ANY>
<!ATTLIST uTagsyTagContainer id ID #REQUIRED>
]>
<root id="-1">
  <uBlogsySiteRoot id="1077" key="21ac0ce8-1708-4a17-94c8-5c5687262c0b" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-10-04T17:16:46" updateDate="2016-10-04T17:22:02" nodeName="Site Root" urlName="site-root" path="-1,1077" isDoc="" nodeType="1069" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="1056" nodeTypeAlias="uBlogsySiteRoot">
    <umbracoNaviHide>0</umbracoNaviHide>
    <uBlogsyContentTitle><![CDATA[Home]]></uBlogsyContentTitle>
    <uBlogsyNavigationTitle><![CDATA[Home]]></uBlogsyNavigationTitle>
    <uBlogsyLanding id="1078" key="83a4a5b3-f094-483a-9c90-2dd3de9e869b" parentID="1077" level="2" creatorID="0" sortOrder="0" createDate="2016-10-04T17:16:46" updateDate="2016-10-04T17:22:14" nodeName="Blog" urlName="blog" path="-1,1077,1078" isDoc="" nodeType="1065" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="1052" nodeTypeAlias="uBlogsyLanding">
      <umbracoNaviHide>0</umbracoNaviHide>
      <uBlogsyContentTitle><![CDATA[Blog]]></uBlogsyContentTitle>
      <uBlogsyNavigationTitle><![CDATA[Blog]]></uBlogsyNavigationTitle>
      <uBlogsyGeneralUseSummary>1</uBlogsyGeneralUseSummary>
      <uBlogsyGeneralUseTitleAsNodeName>1</uBlogsyGeneralUseTitleAsNodeName>
      <uBlogsyGeneralShowSocialMedia>1</uBlogsyGeneralShowSocialMedia>
      <uBlogsyBlogLinks><![CDATA[http://feeds.feedburner.com/UmbracoBlog
http://feeds.feedburner.com/midcodecrisis
]]></uBlogsyBlogLinks>
      <uBlogsyContainerAuthor id="1079" key="69663748-b514-442f-93f0-163d9e892b54" parentID="1078" level="3" creatorID="0" sortOrder="0" createDate="2016-10-04T17:16:46" updateDate="2016-10-04T17:23:06" nodeName="Authors" urlName="authors" path="-1,1077,1078,1079" isDoc="" nodeType="1063" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="0" nodeTypeAlias="uBlogsyContainerAuthor">
        <umbracoNaviHide>0</umbracoNaviHide>
        <uBlogsyAuthor id="1080" key="d45dccf9-8ad9-4fb9-b45d-7d03801e683c" parentID="1079" level="4" creatorID="0" sortOrder="0" createDate="2016-10-04T17:16:46" updateDate="2016-10-04T17:32:14" nodeName="Author 1" urlName="author-1" path="-1,1077,1078,1079,1080" isDoc="" nodeType="1061" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="0" nodeTypeAlias="uBlogsyAuthor">
          <umbracoNaviHide>0</umbracoNaviHide>
          <uBlogsyAuthorName><![CDATA[Author 1]]></uBlogsyAuthorName>
        </uBlogsyAuthor>
      </uBlogsyContainerAuthor>
      <uBlogsyContainerLabel id="1081" key="45654558-d41b-4c4d-b7f4-ae001f724202" parentID="1078" level="3" creatorID="0" sortOrder="1" createDate="2016-10-04T17:16:46" updateDate="2016-10-04T17:23:09" nodeName="Categories (optional)" urlName="categories-optional" path="-1,1077,1078,1081" isDoc="" nodeType="1064" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="0" nodeTypeAlias="uBlogsyContainerLabel">
        <umbracoNaviHide>0</umbracoNaviHide>
        <uBlogsyLabel id="1082" key="3c4bc335-fec5-43be-9c1b-c003ec2c6b77" parentID="1081" level="4" creatorID="0" sortOrder="0" createDate="2016-10-04T17:16:46" updateDate="2016-10-04T17:32:02" nodeName="Category 1" urlName="category-1" path="-1,1077,1078,1081,1082" isDoc="" nodeType="1062" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="0" nodeTypeAlias="uBlogsyLabel">
          <umbracoNaviHide>0</umbracoNaviHide>
          <uBlogsyLabelName><![CDATA[Category 1]]></uBlogsyLabelName>
        </uBlogsyLabel>
      </uBlogsyContainerLabel>
      <uTagsyTagContainer id="1083" key="27ae0021-de53-4072-a8f8-b0bb44575741" parentID="1078" level="3" creatorID="0" sortOrder="2" createDate="2016-10-04T17:16:46" updateDate="2016-10-04T17:23:11" nodeName="Tags" urlName="tags" path="-1,1077,1078,1083" isDoc="" nodeType="1076" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="0" nodeTypeAlias="uTagsyTagContainer">
        <uTagsyTag id="1084" key="8ede2d2b-29a2-4158-b0dd-3b7cc85eb149" parentID="1083" level="4" creatorID="0" sortOrder="0" createDate="2016-10-04T17:16:46" updateDate="2016-10-04T17:32:08" nodeName="Some Tag" urlName="some-tag" path="-1,1077,1078,1083,1084" isDoc="" nodeType="1075" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="0" nodeTypeAlias="uTagsyTag">
          <uTagsyTagName><![CDATA[Some Tag]]></uTagsyTagName>
        </uTagsyTag>
        <uTagsyTag id="1085" key="cb5bac29-82e0-44fb-85fd-7f103a2f3072" parentID="1083" level="4" creatorID="0" sortOrder="1" createDate="2016-10-04T17:16:46" updateDate="2016-10-04T17:32:10" nodeName="another thing" urlName="another-thing" path="-1,1077,1078,1083,1085" isDoc="" nodeType="1075" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="0" nodeTypeAlias="uTagsyTag">
          <uTagsyTagName><![CDATA[another thing]]></uTagsyTagName>
        </uTagsyTag>
        <uTagsyTag id="1097" key="6f79402b-6192-4f97-9887-070e46190244" parentID="1083" level="4" creatorID="0" sortOrder="2" createDate="2016-10-04T17:24:58" updateDate="2016-10-04T17:24:58" nodeName="news" urlName="news" path="-1,1077,1078,1083,1097" isDoc="" nodeType="1075" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="0" nodeTypeAlias="uTagsyTag">
          <uTagsyTagName><![CDATA[news]]></uTagsyTagName>
        </uTagsyTag>
        <uTagsyTag id="1100" key="8cd56c53-c96f-4822-a5a8-da3ad2487985" parentID="1083" level="4" creatorID="0" sortOrder="3" createDate="2016-10-04T17:27:19" updateDate="2016-10-04T17:27:19" nodeName="second" urlName="second" path="-1,1077,1078,1083,1100" isDoc="" nodeType="1075" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="0" nodeTypeAlias="uTagsyTag">
          <uTagsyTagName><![CDATA[second]]></uTagsyTagName>
        </uTagsyTag>
        <uTagsyTag id="1101" key="6ef68adc-c94b-4d3a-b871-2710b22666e7" parentID="1083" level="4" creatorID="0" sortOrder="4" createDate="2016-10-04T17:27:19" updateDate="2016-10-04T17:27:19" nodeName="tag" urlName="tag" path="-1,1077,1078,1083,1101" isDoc="" nodeType="1075" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="0" nodeTypeAlias="uTagsyTag">
          <uTagsyTagName><![CDATA[tag]]></uTagsyTagName>
        </uTagsyTag>
        <uTagsyTag id="1102" key="202d201b-e18b-4d7e-a2cf-fadd72507bfb" parentID="1083" level="4" creatorID="0" sortOrder="5" createDate="2016-10-04T17:27:19" updateDate="2016-10-04T17:27:19" nodeName="newyear" urlName="newyear" path="-1,1077,1078,1083,1102" isDoc="" nodeType="1075" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="0" nodeTypeAlias="uTagsyTag">
          <uTagsyTagName><![CDATA[newyear]]></uTagsyTagName>
        </uTagsyTag>
      </uTagsyTagContainer>
      <uBlogsyRSS id="1086" key="4af76606-5bd9-4348-97a6-7ccd8c91c808" parentID="1078" level="3" creatorID="0" sortOrder="3" createDate="2016-10-04T17:16:46" updateDate="2016-10-04T17:23:13" nodeName="RSS" urlName="rss" path="-1,1077,1078,1086" isDoc="" nodeType="1068" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="1055" nodeTypeAlias="uBlogsyRSS">
        <umbracoNaviHide>0</umbracoNaviHide>
        <uBlogsyRssCopyright><![CDATA[Copyright @AnthonyDotNet]]></uBlogsyRssCopyright>
        <uBlogsyRssDescription><![CDATA[Blog Description]]></uBlogsyRssDescription>
        <uBlogsyRssTitle><![CDATA[My Blog]]></uBlogsyRssTitle>
      </uBlogsyRSS>
      <uDateFoldersyFolderYear id="1087" key="49497c82-0c92-4e5d-992f-fcbf6fb3e036" parentID="1078" level="3" creatorID="0" sortOrder="4" createDate="2016-10-04T17:16:46" updateDate="2016-10-04T17:22:20" nodeName="2016" urlName="2016" path="-1,1077,1078,1087" isDoc="" nodeType="1073" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="1057" nodeTypeAlias="uDateFoldersyFolderYear">
        <uDateFoldersyFolderMonth id="1088" key="4bc46a77-2202-4d4d-94c1-10d7fa9dd009" parentID="1087" level="4" creatorID="0" sortOrder="0" createDate="2016-10-04T17:16:46" updateDate="2016-10-04T17:22:26" nodeName="June" urlName="june" path="-1,1077,1078,1087,1088" isDoc="" nodeType="1072" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="1057" nodeTypeAlias="uDateFoldersyFolderMonth">
          <uDateFoldersyFolderDay id="1089" key="ceee2e43-6625-4448-88c1-593d243cf018" parentID="1088" level="5" creatorID="0" sortOrder="0" createDate="2016-10-04T17:16:46" updateDate="2016-10-04T17:28:28" nodeName="19" urlName="19" path="-1,1077,1078,1087,1088,1089" isDoc="" nodeType="1071" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="1057" nodeTypeAlias="uDateFoldersyFolderDay" />
        </uDateFoldersyFolderMonth>
        <uDateFoldersyFolderMonth id="1103" key="57ac2524-1481-4ab5-b6d5-cf4c6c0a99be" parentID="1087" level="4" creatorID="0" sortOrder="1" createDate="2016-10-04T17:29:12" updateDate="2016-10-04T17:29:13" nodeName="August" urlName="august" path="-1,1077,1078,1087,1103" isDoc="" nodeType="1072" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="1057" nodeTypeAlias="uDateFoldersyFolderMonth">
          <uDateFoldersyFolderDay id="1104" key="7eed774b-7621-4816-951f-989c113bd7dc" parentID="1103" level="5" creatorID="0" sortOrder="0" createDate="2016-10-04T17:29:13" updateDate="2016-10-04T17:29:13" nodeName="31" urlName="31" path="-1,1077,1078,1087,1103,1104" isDoc="" nodeType="1071" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="1057" nodeTypeAlias="uDateFoldersyFolderDay">
            <uBlogsyPost id="1090" key="845dfc04-1a56-4f69-8287-a9607b075022" parentID="1104" level="6" creatorID="0" sortOrder="1" createDate="2016-10-04T17:16:46" updateDate="2016-10-04T17:29:42" nodeName="test" urlName="test" path="-1,1077,1078,1087,1103,1104,1090" isDoc="" nodeType="1067" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="1054" nodeTypeAlias="uBlogsyPost">
              <umbracoNaviHide>0</umbracoNaviHide>
              <uBlogsyContentTitle><![CDATA[test]]></uBlogsyContentTitle>
              <uBlogsyNavigationTitle><![CDATA[test]]></uBlogsyNavigationTitle>
              <uBlogsyPostDate>2016-08-31T17:29:06</uBlogsyPostDate>
              <uBlogsyPostDisableComments>0</uBlogsyPostDisableComments>
              <uBlogsyPostImage><![CDATA[1105]]></uBlogsyPostImage>
            </uBlogsyPost>
          </uDateFoldersyFolderDay>
        </uDateFoldersyFolderMonth>
        <uDateFoldersyFolderMonth id="1095" key="6eb0fed8-2322-4667-9956-38b428cd0d25" parentID="1087" level="4" creatorID="0" sortOrder="2" createDate="2016-10-04T17:21:25" updateDate="2016-10-04T17:29:13" nodeName="October" urlName="october" path="-1,1077,1078,1087,1095" isDoc="" nodeType="1072" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="1057" nodeTypeAlias="uDateFoldersyFolderMonth">
          <uDateFoldersyFolderDay id="1096" key="123144d9-7f6c-4ae7-81c6-d7cd32df0508" parentID="1095" level="5" creatorID="0" sortOrder="0" createDate="2016-10-04T17:21:25" updateDate="2016-10-04T17:22:29" nodeName="04" urlName="04" path="-1,1077,1078,1087,1095,1096" isDoc="" nodeType="1071" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="1057" nodeTypeAlias="uDateFoldersyFolderDay">
            <uBlogsyPost id="1094" key="6fab3c73-73a4-44d0-bc6c-1987e11f9a8c" parentID="1096" level="6" creatorID="0" sortOrder="1" createDate="2016-10-04T17:21:24" updateDate="2016-10-04T19:31:29" nodeName="my first post" urlName="my-first-post" path="-1,1077,1078,1087,1095,1096,1094" isDoc="" nodeType="1067" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="1054" nodeTypeAlias="uBlogsyPost">
              <umbracoNaviHide>0</umbracoNaviHide>
              <uBlogsyContentSummary><![CDATA[my first post - summarysadf]]></uBlogsyContentSummary>
              <uBlogsyContentBody><![CDATA[<p>my first post - body</p>]]></uBlogsyContentBody>
              <uBlogsyContentTitle><![CDATA[my first post]]></uBlogsyContentTitle>
              <uBlogsyNavigationTitle><![CDATA[my first post]]></uBlogsyNavigationTitle>
              <uBlogsyPostDate>2016-10-04T17:18:40</uBlogsyPostDate>
              <uBlogsyPostLabels><![CDATA[1082]]></uBlogsyPostLabels>
              <uBlogsyPostTags><![CDATA[1097]]></uBlogsyPostTags>
              <uBlogsyPostAuthor><![CDATA[1080]]></uBlogsyPostAuthor>
              <uBlogsyPostDisableComments>0</uBlogsyPostDisableComments>
              <uBlogsyPostImage><![CDATA[1093]]></uBlogsyPostImage>
            </uBlogsyPost>
            <uBlogsyPost id="1098" key="7e49e223-f92d-40ba-9ed4-2ab6259c9b2f" parentID="1096" level="6" creatorID="0" sortOrder="2" createDate="2016-10-04T17:25:37" updateDate="2016-10-04T17:28:16" nodeName="second post" urlName="second-post" path="-1,1077,1078,1087,1095,1096,1098" isDoc="" nodeType="1067" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="1054" nodeTypeAlias="uBlogsyPost">
              <umbracoNaviHide>0</umbracoNaviHide>
              <uBlogsyContentSummary><![CDATA[second post]]></uBlogsyContentSummary>
              <uBlogsyContentBody><![CDATA[<p>second post</p>]]></uBlogsyContentBody>
              <uBlogsyContentTitle><![CDATA[second post]]></uBlogsyContentTitle>
              <uBlogsyNavigationTitle><![CDATA[second post]]></uBlogsyNavigationTitle>
              <uBlogsyPostDate>2016-10-04T17:25:22</uBlogsyPostDate>
              <uBlogsyPostTags><![CDATA[1097,1100,1101,1102]]></uBlogsyPostTags>
              <uBlogsyPostDisableComments>0</uBlogsyPostDisableComments>
              <uBlogsyPostImage><![CDATA[1099]]></uBlogsyPostImage>
            </uBlogsyPost>
          </uDateFoldersyFolderDay>
        </uDateFoldersyFolderMonth>
      </uDateFoldersyFolderYear>
    </uBlogsyLanding>
    <uBlogsyPage id="1091" key="0141cb60-0620-4263-b2fd-22461c758302" parentID="1077" level="2" creatorID="0" sortOrder="1" createDate="2016-10-04T17:16:46" updateDate="2016-10-04T17:23:16" nodeName="About" urlName="about" path="-1,1077,1091" isDoc="" nodeType="1066" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="1053" nodeTypeAlias="uBlogsyPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <uBlogsyContentTitle><![CDATA[About]]></uBlogsyContentTitle>
      <uBlogsyNavigationTitle><![CDATA[About]]></uBlogsyNavigationTitle>
    </uBlogsyPage>
    <uBlogsyPage id="1092" key="ca0afeac-eb00-4336-ac5c-8ae00ab07002" parentID="1077" level="2" creatorID="0" sortOrder="2" createDate="2016-10-04T17:16:47" updateDate="2016-10-04T17:23:18" nodeName="Contact" urlName="contact" path="-1,1077,1092" isDoc="" nodeType="1066" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="1053" nodeTypeAlias="uBlogsyPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <uBlogsyContentTitle><![CDATA[Contact]]></uBlogsyContentTitle>
      <uBlogsyNavigationTitle><![CDATA[Contact]]></uBlogsyNavigationTitle>
    </uBlogsyPage>
  </uBlogsySiteRoot>
</root>